# Auto detect text files and perform LF normalization
# https://stackoverflow.com/questions/170961/whats-the-best-crlf-carriage-return-line-feed-handling-strategy-with-git

* text=auto

# git attributes for Unity3D (lfs part removed)
# https://gist.github.com/nemotoo/b8a1c3a0f1225bb9231979f389fd4f3f


## Unity ##

*.cs diff=csharp text
*.cginc text
*.shader text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicsMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf


# Binary files

#Image
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.psd binary
*.ai binary
*.ico binary
*.exr binary
*.svgz binary
*.tga binary
*.tif binary
*.tiff binary

#Audio
*.mp3 binary
*.wav binary
*.ogg binary

#Video
*.avi binary
*.mkv binary
*.mp4 binary
*.mov binary

#3D Object
*.FBX binary
*.fbx binary
*.blend binary
*.obj binary

# Fonts
*.ttf binary
*.otf binary
*.eot binary
*.woff binary
*.woff2 binary

# Archives
*.7z binary
*.bz2 binary
*.gz binary
*.rar binary
*.xz binary
*.zip binary

# Documents
*.doc binary diff=astextplain
*.docx binary diff=astextplain
*.dot binary diff=astextplain
*.pdf binary diff=astextplain
*.rtf binary diff=astextplain
*.odt binary diff=odf
*.ods binary diff=odf
*.odp binary diff=odf

#ETC
*.a binary
*.exe binary
*.tga binary
*.pdf binary
*.dll binary
*.unitypackage binary
*.aif binary
*.rns binary
*.reason binary
*.lxo binary
*.so binary
